<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Library</title>
  </head>
  <body>
    <form action="/library" method="Post">
      <div>
        <label for="name">Enter Library name:</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="location">Enter Location</label>
        <input type="text" name="location" id="location" />
      </div>
      <div>
        <label for="price">Enter price</label>
        <input type="number" name="price" id="price" />
        <button>Submit</button>
      </div>
    </form>
    <a href="/library">ALL Library</a>
  </body>
</html>
